<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
body {
background-size: cover;

}
h1{
color: #ffffff;
}
label{
color: #ffffff;
}
.class0{
text-align:center;
text-color: #ffffff;
}
.class1{
background-color:#40848d;
text-align:center;
margin:auto;
width:30%;
height:60%;
padding :20px;
border:10px solid black;
}
</style>
</head>
<body background="{{url_for('static',filename='builtin/sotprojectbg.png')}}">
<div class="class0">
<h1>Secure Online Transaction Using Face Recognition</h1>
</div>
<div class="class1">

    <p>Samples Collection Completed</p>

<form action="/form_gotowelcomepage" method="post">
  <p>You may use the application</p>
  <input type="submit" value="Go back">
</form>
</div>
</body>
</html>